*.DS_Store
client/node_modules/
server/node_modules/
server/coverage/lcov-report
server/coverage/clover.xml
server/coverage/coverage-final.json
server/coverage/lcov.info
server/database/dbFiles/testDB.sqlite
server/database/populationFunctions.js
server/unit_test/prova.js
server/package-lock.json
package-lock.json
node_modules