.mountain-bg {
    background-image: url(https://www.popsci.com/uploads/2021/11/09/Prepare-For-Difficult-Hike.jpeg);
    background-position: center;
    color: white;
}

.navbar-items {
    width: 100%;
}

.btn-navbar {
    background-color: var(--button-bg-color)!important; 
    color: white!important;
    font-size: 1.5rem!important;
    border-radius: 0!important;
    font-weight: bold !important;
} 

.btn-navbar:hover {
    background-color: var(--button-highlight-bg-color)!important;
}

.btn-xl {
    padding: .8rem 1rem!important;
    font-size: 2rem!important;
}

.sidebar-item {
    padding: 15px;
    font-size: 1.1rem;
}