.mountain-bg {
    background-image: url(https://www.popsci.com/uploads/2021/11/09/Prepare-For-Difficult-Hike.jpeg);
    background-position: center;
    color: white;
}

.navbar-items {
    width: 100%;
}

#collasible-nav-dropdown{
    background-color: rgb(60 58 58 / 49%)!important; 
    color: white!important;
    border-radius: 0!important;
    font-weight: bold !important;
    font-size: 30px;
    padding: 7px;
}

#collasible-nav-dropdown:hover,#collasible-nav-dropdown:focus{
    background-color: var(--button-highlight-bg-color)!important;
    color: black!important;
    border-radius: 0!important;
    font-weight: bold !important;
    font-size: 30px;
    padding: 7px;
}



.dropstart .dropdown-toggle::before {
    display: none !important;
}

.btn-navbar {
    background-color: rgb(60 58 58 / 49%)!important; 
    color: white!important;
    font-size: 1.5rem!important;
    border-radius: 0!important;
    font-weight: bold !important;
} 

.btn-navbar:hover {
    background-color: var(--button-highlight-bg-color)!important;
    color: black!important;
}

.btn-xl {
    padding: .8rem 1rem!important;
    font-size: 2rem!important;
}

.sidebar-item {
    padding: 15px;
    font-size: 1.1rem;
}